<script defer src="/javascripts/main.js"></script>


<div class="main-container" style="margin-top: 30px;">
{{#if userName}}
  <form name="postform" class="form line" style="padding-top: 10px;">
    <input class="form-control" id="textInput1" type="text" name="question" placeholder="Ваш вопрос">
    <button class="centr btn btn-outline-success me-2">Узнать ответ</button>
  </form>
{{/if}}
<div class="answer-container" style=" ">
</div>
</div>
