<form class="form" action="/users/signup" method="post">
  <input class="form-control" type="text" name="name" placeholder="Имя пользователя">
  <input class="form-control" type="text" name="email" placeholder="Электронная почта">
  <input class="form-control" type="text" name="password" placeholder="Придумайте пароль">
  <button class="btn btn-outline-success me-2">Зарегистрироваться</button>
</form>
